.awards {
    background:#00005c;
}

.CS50 {
    text-align: center;
    position: relative;
    top:20px;
}

.assignment {
    position: relative;
    height:50%;
    width:50%;
    left: 150px;
    opacity:50%;
}

.assignment:hover {
    opacity: 1;
    transition: all 3s ease-out;
}

.icons {
    position: relative;
    left: 200px;
}

.icons-youtube {
    position: relative;
    left: 200px;
}

.icons-github {
    position: relative;
    left: 200px;
}

