.projects {
    background: #7b8ef8;
}

.dijkstra {
    position: relative;
    height: 50%;
    width: 50%;
    left: 5rem;
}

.dijkstra:hover {
    opacity: 1;
    transition: all 3s ease-out;
}

.androidapp {
    position: relative;
    height: 20%;
    width: 20%;
    left: 10rem;
}

.androidapp:hover {
    opacity: 1;
    transition: all 3s ease-out;
}

.sudoku {
    position: relative;
    height: 50%;
    width: 50%;
    left: 5rem;
}

.sudoku:hover {
    opacity: 1;
    transition: all 3s ease-out;
}

.smarthumidifier {
    height: 25%;
    width: 25%;
}

.loadButton {


}

.rentappslogin {
    height: 25%;
    width: 25%;
}

.text-black {
    color: #000000;
    text-align: center;
}
