.projects {
    background: #00005c;
}

.dijkstra {
    position: relative;
    height: 50%;
    width: 50%;
    opacity: 75%;
    left: 5rem;
}

.dijkstra:hover {
    opacity: 1;
    transition: all 3s ease-out;
}

.androidapp {
    position: relative;
    height: 20%;
    width: 20%;
    left: 10rem;
    opacity: 75%;
}

.androidapp:hover {
    opacity: 1;
    transition: all 3s ease-out;
}

.sudoku {
    position: relative;
    height: 50%;
    width: 50%;
    left: 5rem;
    opacity: 75%;
}

.sudoku:hover {
    opacity: 1;
    transition: all 3s ease-out;
}
